.group--edit,.group--new {
  padding: 15px;
  background-color: rgba(white,0.9);
  width: 80%;
  margin: 0px 80px auto;
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  &__box {
    .imgfield {
      position: relative;
      input[type="file"]{
        background-color: #fff;
        display: none;
      }
      img { 
        border-radius: 5px;
        margin-left: 70px;
      }
      .img-editform {
        position: absolute;
        top: 45%;
        left: 10px;
      }
      .img-newform {
        margin-left: 10px;
      }
    }
    select {
      display: block;
      box-sizing: border-box;
      width: 100%;
      margin: 3px 0 10px;
      padding: 8px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      height: 40px;
    }
  }
  input {
    padding: 8px;
    margin-bottom: 8px;
  }
  .group-submit {
    margin-top: 13px;
    &:hover {
      background-color: lighten(skyblue, 15%);
    }
  }
}