.user__box {
  height: 30%;
  width: 20%;
  background-color: rgba(white,0.9);
  position: absolute;
  left: 10%;
	top: 50px;
	padding: 10px;
}
.user__postbox {
  height: 80%;
  width: 55%;
  background-color: rgba(white,0.9);
  padding: 10px;
  position: absolute;
  left: 35%;
  top: 50px;
}
